<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284584943565-n32m314l9qqlqg8e1qkhj5da8rb8jldd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284584943565-n32m314l9qqlqg8e1qkhj5da8rb8jldd</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Pm5j0URjpYZ0faNWFWSdOdy2z5M-hZs</string>
	<key>GCM_SENDER_ID</key>
	<string>284584943565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nmdresshatay.app</string>
	<key>PROJECT_ID</key>
	<string>nm-dress</string>
	<key>STORAGE_BUCKET</key>
	<string>nm-dress.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284584943565:ios:f43f258a1368262dd5ee84</string>
</dict>
</plist>